@charset "utf-8";

/*G마켓 산스*/
/*font-family: 'GmarketSans', san-serif;*/
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*poppins*/
/*font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@media all and (min-width:1000px) and (max-width:1499px) {

    /* intro */

    .intro {
        width: 90%;
        height: 470px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-family: 'GmarketSans';
        position: relative;
        margin: 0 auto;
        margin-top: 200px;
        margin-bottom: 200px;
    }

    .intro>h1 {
        flex: none;
        position: absolute;
        top: 0;
        font-size: 3rem;
        color: #005dad;
        margin-bottom: 20px;
        font-family: 'Poppins', sans-serif;
    }

    .intro img {
        height: 300px;
    }

    .textbox {
        width: 500px;
        height: 300px;
        margin-left: 40px;
        padding: 50px 0;
    }

    .textbox h1 {
        font-size: 1.7rem;
        color: #005dad;
        margin-bottom: 20px;
        line-height: 34px;
    }

    .textbox p {
        font-size: 0.8rem;
        line-height: 20px;
    }

    /* globel */

    .globel {
        width: 90%;
        height: 800px;
        margin: 0 auto;
        margin-bottom: 200px;
    }

    .world {
        text-align: center;
        margin: 0 auto;
    }

    .world h1 {
        font-size: 3rem;
        color: #005dad;
        margin-bottom: 20px;
        line-height: 46px;
        font-family: 'Poppins', sans-serif;
    }

    .world img {
        width: 90%;
        margin: 30px 0;
    }

    .world p {
        font-size: 0.8rem;
        font-family: 'GmarketSans';
        line-height: 20px;
    }

    .history {
        width: 100%;
        position: relative;
        margin: 0 auto;
    }

    .headline {
        font-size: 3rem;
        color: #005dad;
        margin-bottom: 20px;
        line-height: 46px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-bottom: 70px;
    }

    .box {
        width: 100%;
        height: 500px;
        position: relative;
    }

    .box:first-child {
        border-radius: 50%;
        height: 680px;
    }

    .box:nth-child(2) {
        z-index: 2;
        position: absolute;
        top: 10%;
    }

    .box:nth-child(3) {
        position: relative;
        z-index: 3;
    }

    /* globel - timeline */

    .container {
        width: 50%;
        height: 100%;
        position: relative;
    }

    .area {
        width: 80%;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 800;
    }

    .left {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);

    }

    .right {
        position: absolute;
        left: 50%;
        transform: (-50%, 0);
    }

    .content {
        width: 60%;
        position: relative;
        border-radius: 6px;
        top: 50%;
        z-index: 500;
        color: #fff;
        font-family: 'GmarketSans';
        word-break: keep-all;
    }

    .content h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 3rem;
        margin-bottom: -15px;
    }

    .content h3 {
        font-size: 1.4rem;
        margin-bottom: 10px;
    }

    .content p {
        font-size: 0.8rem;
        line-height: 22px;
    }

    .start {
        text-align: right;
        position: absolute;
        left: 0;
        top: 80px;
    }

    .first {
        text-align: right;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .second {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .imgright {
        position: absolute;
        width: 300px;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 500;
        right: 0;
    }

    .imgleft {
        position: absolute;
        width: 300px;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 500;
        left: 0;
    }

    .plus {
        position: absolute;
        top: 65%;
    }

    #bar_box {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 300;
    }

    .line {
        width: 10px;
        height: 100%;
        background: transparent;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .line1 {
        width: 10px;
        height: 100%;
        background: #fff;
    }

    .goldbear {
        position: absolute;
        z-index: 600;
        left: 50%;
        transform: translate(-50%);
        width: 60px;
        top: 35%;
    }

    .imgplus {
        top: 50%
    }

    .imgplus2 {
        position: relative;
        top: 700px;


    }

    .bar {
        width: 100%;
        height: 100px;
        position: relative;
        margin-top: 150px;
        margin-bottom: 80px;
        top: 50%;
        transform: translate(0,-50%);
    }

    .bar .bar1 {
        width: 100%;
        height: 60%;
        background-image: url(../img/bar.png);
        background-repeat: repeat-x;
        animation: bar_left 30s linear infinite;
    }

    @keyframes bar_left {
        from {
            background-position: 0 0;
        }

        to {
            background-position: -1000px 0;
        }
    }

    .bar .bar2 {
        width: 100%;
        height: 60%;
        background-image: url(../img/bar2.png);
        background-repeat: repeat-x;
        animation: bar_right 30s linear infinite;
    }

    @keyframes bar_right {
        from {
            background-position: 0 0;
        }

        to {
            background-position: 1000px 0;
        }
    }

}


@media all and (min-width:1500px) {

    /* intro */

    .intro {
        width: 1300px;
        height: 510px;
        margin: 0 auto;
        margin-top: 200px;
        margin-bottom: 200px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-family: 'GmarketSans';
        position: relative;
    }

    .intro>h1 {
        flex: none;
        position: absolute;
        top: 0;
        font-size: 3rem;
        color: #005dad;
        margin-bottom: 20px;
        line-height: 46px;
        font-family: 'Poppins', sans-serif;
    }

    .intro img {
        height: 400px;
    }

    .textbox {
        width: 500px;
        height: 400px;
        margin-left: 40px;
        padding: 65px 0;
    }

    .textbox h1 {
        font-size: 2.2rem;
        color: #005dad;
        margin-bottom: 20px;
        line-height: 46px;
    }

    .textbox p {
        font-size: 1rem;
    }

    /* globel */

    .globel {
        width: 1300px;
        height: 950px;
        margin: 0 auto;
        margin-bottom: 200px;
    }

    .world {
        text-align: center;
        margin: 0 auto;
    }

    .world h1 {
        font-size: 3rem;
        color: #005dad;
        margin-bottom: 20px;
        line-height: 46px;
        font-family: 'Poppins', sans-serif;
    }

    .world img {
        width: 1100px;
        margin: 30px 0;
    }

    .world p {
        font-size: 1rem;
        font-family: 'GmarketSans';
        line-height: 25px;
    }

    .history {
        width: 100%;
        position: relative;
        margin: 0 auto;
    }

    .headline {
        font-size: 3rem;
        color: #005dad;
        margin-bottom: 20px;
        line-height: 46px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-bottom: 70px;
    }

    .box {
        width: 100%;
        height: 500px;
        position: relative;
    }

    .box:first-child {
        border-radius: 50%;
        height: 680px;
    }

    .box:nth-child(2) {
        z-index: 2;
        position: absolute;
        top: 10%;
    }

    .box:nth-child(3) {
        position: relative;
        z-index: 3;
    }

    /* globel - timeline */

    .container {
        width: 50%;
        height: 100%;
        position: relative;
    }

    .area {
        width: 1300px;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 800;
    }

    .left {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);

    }

    .right {
        position: absolute;
        left: 50%;
        transform: (-50%, 0);
    }

    .content {
        width: 60%;
        position: relative;
        border-radius: 6px;
        top: 50%;
        z-index: 500;
        color: #fff;
        font-family: 'GmarketSans';
        word-break: keep-all;
    }

    .content h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 4rem;
        margin-bottom: -20px;
    }

    .content h3 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .content p {
        font-size: 1rem;
        line-height: 25px;
    }

    .start {
        text-align: right;
        position: absolute;
        left: 0;
        top: 80px;
    }

    .first {
        text-align: right;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .second {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .imgright {
        position: absolute;
        width: 500px;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 500;
        right: 0;
    }

    .imgleft {
        position: absolute;
        width: 500px;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 500;
        left: 0;
    }

    .plus {
        position: absolute;
        top: 65%;
    }

    #bar_box {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 300;
    }

    .line {
        width: 15px;
        height: 100%;
        background: transparent;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .line1 {
        width: 15px;
        height: 100%;
        background: #fff;
    }

    .goldbear {
        position: absolute;
        z-index: 600;
        left: 50%;
        transform: translate(-50%);
        width: 95px;
        top: 35%;
    }

    .imgplus {
        top: 50%
    }

    .imgplus2 {
        position: relative;
        top: 700px;


    }

    .bar {
        width: 100%;
        height: 120px;
        position: relative;
        z-index: 100;
        top: 150px;
    }

    .bar .bar1 {
        width: 100%;
        height: 50%;
        background-image: url(../img/bar.png);
        background-repeat: repeat-x;
        animation: bar_left 30s linear infinite;
    }

    @keyframes bar_left {
        from {
            background-position: 0 0;
        }

        to {
            background-position: -1000px 0;
        }
    }

    .bar .bar2 {
        width: 100%;
        height: 50%;
        background-image: url(../img/bar2.png);
        background-repeat: repeat-x;
        animation: bar_right 30s linear infinite;
    }

    @keyframes bar_right {
        from {
            background-position: 0 0;
        }

        to {
            background-position: 1000px 0;
        }
    }

}