@charset "utf-8";

/*G마켓 산스*/
/*font-family: 'GmarketSans', san-serif;*/
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*poppins*/
/*font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
    width: 100%;
    height: 900px;
    background-color: #005dad;
}

/*logo & nav */

#first {
    width: 1300px;
    height: 900px;
    margin: 0 auto;
    padding-top: 30px;
}

.menu {
    width: 1300px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .logbox {
    width: 300px;
    height: 80px;
}

.menu .logbox img {
    width: 100%;
}

.menu .navbox {
    width: 480px;
    height: 150px;
    display: flex;
    align-items: center;
    position: relative;
}

.menu .navbox .menu {
    width: 450px;
    height: 80px;
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
}

.menu .navbox ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 370px;
    height: 80px;
    margin-right: 30px;
}

.menu .navbox ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #ed1c24;
}

.menu .navbox ul li a:hover {
    color: #005dad;
    transition: .2s;
}


.menu .menu_icon {
    width: 100px;
    height: 130px;
    position: absolute;
    right: 0;
    bottom: 20px;
}

.menu .menu_icon img {
    height: 150px;
}

/*main */

.main_contant {
    width: 1300px;
    height: 600px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_contant .text_box_1 {
    width: 45%;
    height: 300px;
    color: #fff;
    font-family: 'GmarketSans';
}

.main_contant .text_box_1 h1 {
    font-size: 5rem;
    line-height: 90px;
    filter: drop-shadow(4px 4px 4px #252525);
}

.main_contant .text_box_1 p {
    font-size: 1.5rem;
    filter: drop-shadow(2px 2px 2px #252525);
}

.main_contant .text_box_1 button {
    font-size: 1.4rem;
    font-family: 'GmarketSans';
    padding: 10px 50px;
    border: none;
    border-radius: 30px;
    background-color: #ffc402;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
    filter: drop-shadow(3px 3px 3px #001142);
}

.main_contant .text_box_1 button:hover {
    background-color: #ed1c24;
}

.main_contant .img_box_2 {
    width: 50%;
    height: 600px;
    position: relative;
    cursor: pointer;
}

.main_contant .img_box_2 a img[alt="100years"] {
    position: absolute;
    bottom: -60px;
    width: 230px;
    height: 260px;
    z-index: 3;
}

.main_contant .img_box_2 a img[alt="100years"]:hover {
    transform: rotate(-10deg) scale(1.2);
    transition-timing-function: ease-in-out;
}

.main_contant .img_box_2 a img[alt="goldbear"] {
    filter: drop-shadow(5px 5px 5px #252525);
    position: absolute;
}

section {
    width: 100%;
    height: 500px;
    background-color: #005dad;
    margin: 0 auto;
}

.headline {
    text-align: center;
    font-family: 'GmarketSans', san-serif;
    font-size: 2rem;
    line-height: 55px;
    color: #fff;
    padding-top: 100px;
}

.headline h2 pre {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 3rem;
}

.headline h2 span {
    color: #ffc402;
}


.subline {
    text-align: center;
    font-family: 'GmarketSansMedium';
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 30px;
}


#third {
    width: 100%;
    height: auto;
    position: relative;
}


#third img[alt="wave"] {
    width: 100%;
    position: absolute;
    top: 0px;
}


#third video {
    width: 100%;
}

#third #ck{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14vw;
}

#third img[alt="wave2"] {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
}

#boxWrap {
    width: 100%;
    height: 100vh;
    background-color: #002241;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 5;
}


#box {
    width: 60vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#box button{
    font-family: 'GmarketSansMedium';
    border: none;
    border-radius: 20px;
    background-color: #ffc402;
    color: #fff;
    padding: 10px 50px;
    position: relative;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, 0%);
    cursor: pointer;
}

#box button:hover{
    background-color: #ed1c24;
    transition: .2s;
}

#color {
    height: 1600px;
    background-color: #005dad;
    z-index: 3;
    position: relative;
}

#forth {
    width: 1300px;
    height: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#forth a{
    margin-top: 250px;
}

#forth img[alt="find1"]:hover {
    transform: rotate(-10deg);
    transition: .2s;
    transition-timing-function: ease-in-out;
}

#forth .text_box_2{
    width: 80%;
    height: auto;
    padding-left: 20px;
    font-family: 'GmarketSansMedium';
    color: #fff;
    font-size: 1.2rem;
    margin-top: 17px;
}

#forth .text_box_2 p{
    margin-top: 10px;
    line-height: 24px;
    color: #000;
    font-size: 1.3rem;
    line-height: 28px;
}

#forth img[alt="find2"]{
    margin-top: 200px;
}

#forth img[alt="find2"]:hover {
    transform: rotate(10deg);
    transition: .2s;
    transition-timing-function: ease-in-out;
}

#forth .text_box_2_1{
    width: 90%;
    height: auto;
    padding-left: 20px;
    font-family: 'GmarketSansMedium';
    text-align: right;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 17px;
}

#forth .text_box_2_1 p{
    margin-top: 10px;
    line-height: 24px;
    color: #000;
    font-size: 1.3rem;
    line-height: 28px;
}

img[alt="bg2"]{
    width: 100%;
    height: 100vh;
}

#slider {
    z-index: 15;
    position: relative;
    top: -200px;
    position: relative;
}

.mission {
    width: 1300px;
    height: 80vh;
    background-color: wheat;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    margin: 0 auto;
}

.mission .text_box_3{
    width: 90%;
    height: auto;
    font-family: 'GmarketSansMedium';
    color: #fff;
    font-size: 1.2rem;
    margin-top: 17px;
    text-align: center;
    margin: 0 auto;
}

.mission .text_box_3 span{
    font-size: 2rem;
}

.mission .text_box_3 h3{
    width: 100%;
    height: auto;
    font-family: 'GmarketSansMedium';
    color: #fff;
    font-size: 3.5rem;
    margin-top: 17px;
}

.mission .haribo_box{
    width: 80%;
    height: 40vh;
    background-color: #ed1c24;
    margin: 0 auto;
    margin-top: 80px;
}

.mission .haribo_box img{
    width: 16%;
}